# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
ENV/
env/
.ENV
.env

#node_modules
node_modules/

# VSCode
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.so

# Idea
.idea/